html {
  cursor: url("/public/assets/default-cursor.png"),auto !important;
  font-family: Poppins;
  overflow: hidden;
}

body {
  overflow: hidden;
}

button {
  outline: none;
  /* background-color: transparent; */
  border: none;
  padding: 0;
}

hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid rgba(62,31,5,.1);
  margin: 1em 0 0;
}

.root {
  overflow: hidden;
}

.castle-overlay {
  z-index: 1000;
  max-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/public/assets/background.jpg");
  background-blend-mode: lighten;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.castle-bg {
  position: relative;
  background-image: url("/public/assets/field.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 1500px;
  min-height: 1500px;
  transition: all 1s;
  transform-origin: center;
}

.land-auction-btn {
  position: absolute;
  top: 803.5px;
  left: 631px;
  height: 80px;
  width: 100px;
}

.game-button {
  display: block;
  position: absolute;
  background-image: url("/public/assets/text-bubble-left.png"),url("/public/assets/text-bubble-right.png");
  background-position: left top,right top;
  background-repeat: repeat-y;
  background-color: #ffe0b7;
  image-rendering: pixelated;
  animation: buttonAnimation 2s infinite;
  background-size: 4px 4px;
}

.game-button:before {
  top: -2.7398px;
  left: 4.7398px;
  width: calc(100% - 9.47959px);
  height: calc(100% + 5.77959px);
  background-image: url("/public/assets/text-bubble-top.png"),url("/public/assets/text-bubble-btm.png");
  background-position: center top,center bottom;
  background-repeat: repeat-x;
  background-color: #ffe0b7;
  background-size: 10px 4px;
}

.game-button:after {
  top: -2.7398px;
  left: 0px;
  width: 100%;
  height: calc(100% + 6.07959px);
  background-image: url("/public/assets/text-bubble-topLeft.png"),url("/public/assets/text-bubble-topRight.png"),url("/public/assets/text-bubble-btmLeft.png"),url("/public/assets/text-bubble-btmRight.png");
  background-position: left top,right top,left bottom,right bottom;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}

.game-button:before, .game-button:after {
  content: "";
  display: block;
  position: absolute;
}

.title {
  font-size: 15px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: #000;
  padding: 0 10.0344px;
  font-family: Lora,serif;
  font-weight: 700;
  white-space: nowrap;
  z-index: 1;
}

.game-button img {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 50%;
  bottom: -4.4px;
  transform: translate(-50%);
}

.modal-overlay{
  z-index: 2000;
  opacity: 1;
  will-change: opacity;
  transition: all .5s linear;
  flex-direction: column;
  align-items: center;
}

.modal {
  padding: 50px 50px 70px;
}

.game-border {
  position: relative;
  background-color: #c5a67c;
  background-image: url("/public/assets/basic-left.923c1dd6.png"),url("/public/assets/basic-right.5dcf8c2f.png"),url("/public/assets/fancy-top.0871931d.png"),url("/public/assets/basic-bottom.f31b6f68.png");
  background-repeat: repeat-y,repeat-y,repeat-x,repeat-x;
  background-position: 0 0,100% 0,0 0,0 100%;
  border-radius: 40px;
}

.game-border.fancy:before {
  background-image: url("/public/assets/fancy-top-left.1b70fc9c.png"),url("/public/assets/fancy-top-right.80d0517c.png"),url("/public/assets/basic-bottom-left.deb5a97c.png"),url("/public/assets/basic-bottom-right.95cef1ce.png");
}

.game-border:before {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  height: 100%;
  image-rendering: pixelated;
  top: 0;
  left: 0;
  width: 100%;
  background-position: 0 0,100% 0,0 100%,100% 100%;
  background-repeat: no-repeat;
}

.close-btn {
  background-image: url("/public/assets/close-modal-btn.90099233.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 26px;
  right: 29px;
  width: 40px;
  height: 40px;
}

.modal-title.fancy:before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 60px);
  top: 0;
  left: -30px;
  height: 100%;
  background-image: url("/public/assets/modal-title-left.6e301a11.png"),url("/public/assets/modal-title-right.6ab4fcb8.png");
  background-repeat: no-repeat;
  background-position: 0 0,100% 0;
}

.modal-title.fancy {
  position: relative;
  top: -42px;
  font-size: 16px;
  color: maroon;
  background-image: url("/public/assets/modal-title-middle.0613e8a3.png");
  background-repeat: repeat-x;
  margin: 0 auto;
  height: 70px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  color: maroon;
  text-align: center;
  margin-bottom: 0;
}

.modal-body {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body button {
  min-width: 200px;
  margin: 5px 0;
  background: maroon;
}

.modal-body button {
    min-width: 200px;
    margin: 5px 0;
    background: maroon;
}

.green-button {
    position: relative;
    background-color: maroon;
    background-image: url("/public/assets/green-border.png"),url("/public/assets/green-border.png");
    background-repeat: repeat-y,repeat-y;
    background-position: 0 0,100% 0;
    border-radius: 8px;
    color: #ffe3bc;
    font-size: 18px;
    margin: 2px 0;
    min-width: 120px;
    transition: background-color .3s ease-in;
    padding: 6px 24px;
}

.green-button:hover {
  background-color: #066c45;
}

.green-button:before {
  top: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%);
  width: calc(100% - 6px);
  border-radius: 8px;
  background-image: url("/public/assets/green-border.png"),url("/public/assets/green-border.png");
  background-position: top,bottom;
  background-repeat: repeat-x,repeat-x;
}

.green-button:after {
  top: -2px;
  left: 0;
  width: 100%;
  background-image: url("/public/assets/green-topLeft.png"),url("/public/assets/green-topRight.png"),url("/public/assets/green-btmLeft.png"),url("/public/assets/green-btmRight.png");
  background-position: 0 0,100% 0,0 100%,100% 100%;
  background-repeat: no-repeat;
}

.green-button:after, .green-button:before {
  image-rendering: pixelated;
  content: "";
  position: absolute;
  height: calc(100% + 6px);
}

.click-cursor {
  cursor: url("/public/assets/click-cursor.png"), auto !important;
}

.land-auction {
  z-index: 3000;
  opacity: 1;
  will-change: opacity;
  transition: all .5s linear;
  margin: 0;
  padding: 60px 3% 30px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

@keyframes buttonAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(0);
  }
}

.filter {
  display: flex;
  justify-content: flex-end;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.game-border {
  position: relative;
  background-color: #c5a67c;
  background-image: url("/public/assets/basic-left.923c1dd6.png"),url("/public/assets/basic-right.5dcf8c2f.png"),url("/public/assets/fancy-top.0871931d.png"),url("/public/assets/basic-bottom.f31b6f68.png");
  background-repeat: repeat-y,repeat-y,repeat-x,repeat-x;
  background-position: 0 0,100% 0,0 0,0 100%;
  border-radius: 40px
}

.filter-expanded {
  height: 100%;
  width: 100%;
  padding: 74px 50px 88px; 
}

.game-border.basic:before {
  background-image: url("/public/assets/basic-top-left.6b43abfa.png"),url("/public/assets/basic-top-right.6ad5fc7a.png"), url("/public/assets/basic-bottom-left.deb5a97c.png"),url("/public/assets/basic-bottom-right.95cef1ce.png");
}

.game-border:before {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  height: 100%;
  image-rendering: pixelated;
  top: 0;
  left: 0;
  width: 100%;
  background-position: 0 0,100% 0,0 100%,100% 100%;
  background-repeat: no-repeat;
}

.filter-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.filter-header-group {
  font-size: 18px;
  color: #3e1f05;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter-toggle-btn {
  font-size: 20px;
  padding: 0.5em 0 0.5em 20px;
}

.filter-body {
  position: relative;
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 3px 3px;
  margin: 1em 0 0;
}

.filter-search {
  padding-bottom: 1em;
}

.filter-search-input {
  background-color: #eecba1;
  color: #3e1f05;
  height: 36px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 3px 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}

.filter-heading {
  font-family: Lora,Georgia,serif;
  font-size: 18px;
  color: #3e1f05;
  font-weight: 700;
} 

.filter-status__item, .filter-region__item {
  margin-bottom: 10px;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.status-label, .region-label {
  color: #3e1f05;
  font-family: Lora,Georgia,serif;
  display: flex;
  align-items: center;
}

.status-label input, .region-label input {
  position: relative;
  margin: 0 5px 0 0;
}

.status-label input:checked:before, .region-label input:checked:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #1abd7e;
  z-index: 1;
}

.status-label input:after, .status-label input:before {
  border-radius: 50%;
}
.status-label input:after, .region-label input:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-color: #ffe3bd;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}

.status-label span, .region-label span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 142px;
}

.land-view__heading {
  text-align: center;
  font-family: Lora,Georgia,serif;
  font-size: 28px;
  font-weight: 400;
  color: #3e1f05;
  margin-top: 0;
  margin-bottom: 18px;
}

.summry-sort-land {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: #3e1f05;
}

.land-summary{
  font-size: 18px;
}

.land-sort{
  display: flex;
  align-items: center;
}

.land-sort__label {
  font-size: 14px;
}

#landPropertyLabel {
  margin: 0 8px;
}
.land-select__list {
  background-color: #eecba1;
  border-radius: 8px;
  box-shadow: 0 0 3px #3e1f057f;
  position: relative;
}

.land-view-container {
  height: 100%;
  padding: 50px 75px 60px;
  display: flex;
  flex-direction: column;
}

.land-select__list select {
  padding: 8px 30px 8px 5px;
  min-width: 130px;
  background-color: transparent;
  outline: none;
  border: none;
  appearance: none;
}

.land-select__list select option {
  background-color: #eecba1;
  color: #3e1f05;
}

.land-list {
  flex: 1;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  width: 90%;
}

.land-item {
  height: auto;
  background-color: #eecba1;
  margin-bottom: 15px;
  padding: 16px 16px 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.land-image-wrap {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 18px;
  position: relative;
  border-radius: 8px 2px;
  background-image: url("/public/assets/download.png"),url("/public/assets/download.png");
  background-position: 0 0,100% 0;
  background-repeat: repeat-y,repeat-y;
}

.land-image-wrap:before {
  top: -3px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 6px);
  border-radius: 8px 2px;
  background-image:url("/public/assets/text-bubble-left.png"),url("/public/assets/text-bubble-right.png");
  background-position: top,bottom;
  background-repeat: repeat-x,repeat-x;
}

.land-image-wrapbefore, .land-image-wrapafter {
  position: absolute;
  content: "";
  height: calc(100% + 6px);
}

.land-image {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 1px);
  top: 0;
  left: 3px;
  border-radius: 8px 2px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.land-image-wrap:after {
  top: -3px;
  left: 0;
  width: 100%;
  background-image: url("/public/assets/green-topLeft.png"),url("/public/assets/green-topRight.png"),url("/public/assets/green-btmLeft.png"),url("/public/assets/green-btmRight.png");
  background-position: 0 0,100% 0,0 100%,100% 100%;
  background-repeat: no-repeat;
}

.land-sale-tag {
  position: absolute;
  top: -12px;
  left: 50%;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 16px;
  background-color: #ffe3bd;
  color: #3e1f05;
  white-space: nowrap;
  transform: translate(-50%);
  opacity: 1;
  text-align: center;
}

.land-item__header {
  display: flex;
  justify-content: space-between;
  font-family: Lora,Georgia,serif;
  font-size: 15px;
  font-weight: 700;
  color: #3e1f05;
}

.land-info {
  font-size: 13px;
  color: #3e1f05cc;
}

.land-info__row {
  display: flex;
  justify-content: space-between;
}

.land-info__row p {
  margin: 0;
}

.land-item__butotn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .filter {
    height: auto;
  }
  .land-view-container {
    padding: 115px 55px 70px;
}
}

@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .m-6 {
    flex: 0 0 50%;
    /* max-width: 50%; */
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
}
}